.root {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 8.5rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-size: 177rem;
}