@import "../../../styles/variables.scss";
@import "../../../styles/mediaQuery.scss";

.root {
	margin-top: 3rem;
	padding-bottom: 13.4rem;

	& > div {
		max-width: 116rem;
		width: 100%;

		@include respond(tab-land) {
			width: 88rem;
		}

		@include respond(tab-port) {
			width: 88rem;
		}
	}

	& .radio_buttons {
		display: flex;
		margin-top: 2rem;

		& > :not(:last-child) {
			margin-right: 2rem;
		}
	}

	& .transformers_list {
		& > a {
			margin-top: 5.5rem;
			width: 29rem;
			text-decoration: none;
			position: relative;
			z-index: 1;
			transition: box-shadow 0.3s;
			padding: 2rem;

			&:hover {
				opacity: 1;
				box-shadow: 2px 4px 8px 4px darken($background, 5);
			}
		}
	}
}
