@import "../../../styles/variables.scss";

.root {
	justify-content: center;

	& > .login_wrapper {
		padding: 8rem;
		box-shadow: 0 4px 8px 2px $primary;
		text-align: center;

		& > :first-child,
		& > :nth-child(2) {
			max-width: 44rem;
		}

		& > :nth-child(2) {
			margin-top: 3.6rem;
			margin-bottom: 5rem;
		}

		& > :last-child {
			margin-top: 3rem;
		}
	}
}
