.react-datepicker__current-month {
	font-size: 1.944rem;
}

.react-datepicker-time__header {
	font-size: 1.4rem;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-list-item {
	font-size: 1.4rem;
	line-height: 3.7rem;
}

.react-datepicker__day,
.react-datepicker__day-name {
	width: 3.7rem;
}
