@import '../../styles/main';

$display_title_color: #5D6C77;

.title_container {

  &.disabled {
    opacity: 0.5;
  }

  &.display {
    text-align: left;
    margin-bottom: 25px;
    cursor: default;

    & > div:first-child {
      @include typography-button();
      color: $display_title_color;
      margin-bottom: 14px;
      text-transform: uppercase;
    }

    & > div {
      @include typography-subtitle-text();
      color: $base-font-color;
    }
    
  }

  &.header5 {
    text-align: left;
  
    & > div:first-child  {
      @include typography-header5();
    }

    & > div  {
      @include typography-body1();
    }
  }

  &.header1 {
    text-align: left;
  
    & > div:first-child  {
      @include typography-header1();
      color: $base-font-color;
    }

    & > div  {
      @include typography-subtitle1();
      color: #444;
    }
  }

  &.priceLarge {
    & > div:first-child  {
      @include typography-price-large();
      color: $base-font-color;
    }
  }

  &.body {
    & > div:first-child  {
      @include typography-body1();
      color: $base-font-color;
    }
  }
  
}

