@import '../../styles/main.scss';


.value {
  @include typography-number-picker();
}

.label {
  @include typography-body1();
  text-transform: capitalize;
}

.group {
  min-width: 80px;

  &:focus {
    outline: none;
  }
}

.value, .label, .icon, .button {
  color: $base-font-color;
  flex: 1 1 0;
}
.button {
  border-radius: 50%;
  height: 1em;
  width: 1em;
  padding: 10px;
  margin: auto;
}

.rotate{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.7;

  & * {
    cursor: not-allowed;
    pointer-events: none;
  }
  & .label {
    opacity: 0.5;
  }
}

.customValueDemo {
  color: $success;
}