/* Color defintion */
$primary: #ffca00;
$primary-gradient: linear-gradient(to bottom right, #7956ec, #2fb9f8);

$base1: #282b31;
$base2: #676b75;
$base3: #999ea8;
$base4: #babdc3;
$base5: #d3d5da;
$base6: #e7e8ea;
$base7: #f8f9fa;

$grey: #bdbdbd;
$grey2: #353543;

$background: #23232d;
$background1: #353543;

$highlight: #2f80ed;
$success: #a0d61d;
$warning: #ffc250;
$error: #ff4876;

$white: #fff;
$black: #000;

$base-font-color: #474747;
