@import "../../styles/variables.scss";

.root {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgba(36, 35, 46, 0.4), rgba(36,36,46,0));
}

.add_icon,
.search_icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    height: 6rem;
}

.add_icon {
    background-image: url("../../assets/images/svg/add_icon.svg");
}

.search_icon {
    background-image: url("../../assets/images/svg/search_icon.svg");
}

.link_wrapper {
    display: flex;
    flex-direction: column;
    clip-path: polygon(15% 15%, 100% 0, 100% 100%, 0 100%);
    background-color: transparent;
    padding: 3rem 3rem 2rem 5rem;
    transition: all .3s;
    cursor: pointer;
    align-items: center;

    &:hover {
        background-color: $primary;

        & > * {
            color: $background;
        }

        & > .add_icon {
            background-image: url("../../assets/images/svg/add_icon_dark.svg");
        }

        & > .search_icon {
            background-image: url("../../assets/images/svg/search_icon_dark.svg");
        }
    }

    & > :last-child {
        margin-top: 2.4rem;
    }
}