@import '../../styles/main.scss';

.base {
    border: none;
    outline-width: 0;
    clip-path: polygon(10% 10%, 100% 0, 100% 100%, 0 100%);
}

.text {
    font-size: 20px;
    font-family: Arial;
    fill: $primary;
    stroke-width: 0;
    user-select: none;

    &:hover {
        fill: $white;
    }
}

.primary {
    fill: transparent;
    stroke: $primary;
    stroke-width: 2px;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        fill: $primary;

        & > .text {
            fill: $white;
        }
    }
}