.root {
	display: flex;
	justify-content: center;
	padding: 3rem;
	background-color: rgba(#1c1c22, 0.97);

	&.fixed {
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		& > div {
			overflow-y: scroll;
		}

		& .close_button {
			position: absolute;
			right: 2rem;
			top: 2rem;
			cursor: pointer;
		}
	}
}
