.root {
    display: flex;

    & > .image {
        height: 13rem;
        width: 10rem;
    }

    & > .info {
        display: flex; 
        flex-direction: column; 
        margin-left: 4rem;
    }
}