@import '../../styles/main';

.card {
  background: $white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  position: relative;

  &__content {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.distinct_card {
  background: $white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 35px;
  position: relative;

  &__content {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}


.line_vertical {
  background: $white;
  content: "";
  display: none;
  position: absolute;
  left: -3px;
  padding: 4px 2px;
  top: 12px;
  height: calc(100% - 35px);
}

.line_horizontal {
  background: $white;
  content: "";
  display: none;
  left: 20px;
  position: absolute;
  padding: 1px 4px;
  top: -3px;
  width: calc(100% - 50px);
}

.card + .card {
  box-shadow: 4px -1px 15px rgba(0, 0, 0, 0.1);
  & > .line_vertical {
    display: initial;
  }
}

.card:last-child {
  box-shadow: 4px -1px 15px rgba(0, 0, 0, 0.1)
}



@include for-phone-only(){
  .card {
    flex-basis: 100% !important;
  }

  .card + .card {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    & > .line_vertical {
      display: none;
    }
    & > .line_horizontal {
      display: block;        
    }
  }
  
  .card:last-child {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1)
  }
}

@include for-tablet-portrait-up(){
  .card {
    flex-basis: 100% !important;
  }

  .card + .card {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    & > .line_vertical {
      display: none;
    }
    & > .line_horizontal {
      display: block;
      transform: scaleY(0.75);  
    }
  }
  
  .card:last-child {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1)
  }
}


.demo {
  box-sizing: border-box;
  flex-grow: 0 !important;
  font-size: 16px;
}
/* Demo purposes only */
@include for-tablet-portrait-up(){
  .column_on_vertical {
    flex-flow: wrap;
  }
}
@include for-phone-only(){
  .column_on_vertical {
    flex-flow: wrap;
  }
}

