@import "../styles/utilities.scss";

.root {
	display: flex;
	padding: 0 4rem;
	justify-content: space-between;

	& > .image {
	}

	& > .info {
		width: 100%;
		padding: 0 14rem;

		& > .logo {
			text-align: center;
			widows: 100%;
		}

		& > .general {
			display: flex;
			margin-top: 8rem;
			justify-content: space-between;

			& > div {
				display: flex;
				flex-direction: column;
			}
		}

		& > .vehicle_gear {
			display: flex;
			justify-content: space-between;
			margin-top: 5rem;
		}
	}
}
