@import "../styles/utilities.scss";

.root {
	display: flex;
	padding: 0 4rem;
	justify-content: space-between;

	& > .image {
	}

	& > .info {
		width: 100%;
		padding: 0 14rem;

		& > .logo {
			text-align: center;
			widows: 100%;
		}

		& > .general {
			display: flex;
			margin-top: 8rem;
			justify-content: space-between;

			& > div {
				display: flex;
				flex-direction: column;
			}
		}

		& > .vehicle_gear {
			display: flex;
			justify-content: space-between;
			margin-top: 5rem;
		}
	}

	& .preview-1 {
		margin-top: 7rem;
		width: 53rem;
		height: 58rem;
	}

	& .preview-2 {
		margin-top: 1rem;
		width: 10rem;
		height: 10rem;
	}

	& .preview-3 {
		width: 29rem;
		height: 17rem;
	}

	& .preview-4 {
		margin-top: 3.6rem;
		width: 14rem;
		height: 8.5rem;
	}
}
