.root {
    display: flex;
    justify-content: space-between;

    & .transformers_list {
        & > * {
            margin-top: 7rem;
        }
    }

    & > .main {
        flex-basis: 80%;
        text-align: center;
    }
    
    & >.sidebar {
        flex-basis: 20%;
    }
}

.background_image {
    background-image: url("../assets/images/underlay-gold.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 59rem;
    width: 100rem;
    display: inline-block;
    position: relative;
    top: -8rem;
}