.root {
	display: flex;
	justify-content: space-between;

	& .transformers_list {
		& > * {
			margin-top: 7rem;
		}
	}

	& > .main {
		flex-basis: 80%;
		text-align: center;
	}

	& > .sidebar {
		flex-basis: 20%;
	}

	& .button_link {
		position: absolute;
		bottom: -4rem;
		left: 62rem;
	}
}
