.root {
    // position: relative;
    // width: 100%;
    // height: 100%;
}

.background_shape_image {
    background-image: url("../assets/images/bg_shape@1x.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.background_image {
    background-image: url("../assets/images/underlay-gold.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 59rem;
    width: 100rem;
    display: inline-block;
    position: relative;
}

.main {
    flex-basis: 80%;
    text-align: center;
}

.sidebar {
    flex-basis: 20%;
}