@import "../../../styles/mediaQuery.scss";
@import "../../../styles/variables.scss";

.root {
	display: flex;
	justify-content: space-between;

	@include respond(tab-land) {
		flex-direction: column;
	}

	& .transformers_list {
		@include respond(tab-land) {
			flex-wrap: wrap;
			display: flex;
		}

		@include respond(phone) {
			flex-wrap: nowrap;
			display: flex;
			flex-direction: column;
		}

		& > * {
			margin-top: 7rem;
			cursor: pointer;

			@include respond(tab-land) {
				margin-top: 5rem;
				width: 50%;
			}

			@include respond(phone) {
				width: 100%;
				text-align: center;
			}

			& img {
				transition: transform 0.3s;
			}

			&:hover img {
				transform: scale(1.1);
			}
		}
	}

	& > .main {
		flex-basis: 70%;
		text-align: center;

		& .info_wrapper {
			position: absolute;
			top: 18rem;
			left: 62rem;
			text-align: left;

			@include respond(tab-port) {
				position: initial;
				display: flex;
				justify-content: center;
				padding: 1rem 0;
				background-color: $primary;
				margin: 3rem 0;

				& > div:not(:first-child) {
					display: none;
				}

				& > div:first-child {
					width: initial !important;
				}
			}
		}
	}

	& > .sidebar {
		flex-basis: 30%;

		@include respond(tab-land) {
			display: flex;
			flex-direction: column;
			margin: 10rem auto 0;
			flex-basis: 100%;
			padding: 0 5rem;
		}
	}

	& .button_link {
		position: absolute;
		bottom: -4rem;
		left: 62rem;

		@include respond(tab-port) {
			position: initial;
		}
	}
}
