.root {
	display: flex;
	justify-content: space-between;

	& .transformers_list {
		& > * {
			margin-top: 7rem;
			cursor: pointer;

			& img {
				transition: transform 0.3s;
			}

			&:hover img {
				transform: scale(1.1);
			}
		}
	}

	& > .main {
		flex-basis: 80%;
		text-align: center;

		& .info_wrapper {
			position: absolute;
			top: 18rem;
			left: 62rem;
			text-align: left;
		}
	}

	& > .sidebar {
		flex-basis: 20%;
	}

	& .button_link {
		position: absolute;
		bottom: -4rem;
		left: 62rem;
	}
}
