@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";

.root {
	border: 1px solid $primary;
	background-color: transparent;
	height: 4rem;
	padding: 0 2rem;
	@include typography-body1;
	color: $white;
	appearance: none;
	border-radius: 0;
	position: relative;

	&::placeholder {
		@include typography-body1;
		color: rgba(255, 255, 255, 0.5);
	}

	&:hover {
		border-color: darken($primary, 0.3);
	}

	&:focus {
		outline: none;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		border-bottom: 2rem;
		border-right: 1rem;
		border-color: $primary;
		right: 1rem;
	}

	&.placeholder {
		color: rgba(255, 255, 255, 0.5);
	}

	&.small {
		min-width: 22.5rem;
	}

	&.normal {
		max-width: 49.5rem;
	}

	&.disabled {
		border-color: rgba($primary, 0.5);
		color: rgba($white, 0.3);

		&:hover {
			cursor: not-allowed;
		}
	}
}
