@import "../../../../../styles/variables.scss";

.root {
	background-color: $background1;
	clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
	min-width: 50rem;
	min-height: 31.5rem;
	padding: 3rem;
	position: relative;
	justify-content: flex-end;

	& > .header {
		margin-bottom: 6rem;

		& > .event_image {
			width: 8rem;
			height: 6.8rem;
			margin-bottom: 1.6rem;
		}
	}

	& > .action_buttons {
		position: absolute;
		right: 1rem;
		top: 2rem;

		& > img {
			cursor: pointer;

			&:first-child {
				margin-bottom: 1rem;
			}
		}
	}
}
