.root {
	width: 100%;

	& .toolbar {
		width: 50rem;

		& > :first-child {
			flex-basis: 70%;
		}

		& > :last-child {
			flex-basis: 30%;
			display: flex;
			justify-content: center;
		}
	}

	& .events_list_group {
		height: calc(100vh - 13.4rem);
		overflow-y: scroll;
		margin-top: 1rem;
		padding-bottom: 13.4rem;

		& .events_list {
			margin-top: 3.5rem;

			& > *:not(:last-child) {
				margin-bottom: 5rem;
			}

			& > *:first-child {
				margin-bottom: 1rem;
			}
		}
	}

	& .current_event {
		width: 50rem;

		& > *:first-child {
			width: 100%;
			align-items: center;
		}
	}
}
