$roboto-font-family: 'Roboto', sans-serif;
$source-sans-font-family:'Source Sans Pro', sans-serif;


$roboto-medium: (
 font-family: $roboto-font-family,
 font-weight: 500
);

$roboto-regular: (
 font-family: $roboto-font-family,
 font-weight: 400
);

$source-sans-light: (
 font-family:  $source-sans-font-family,
 font-weight: 300
);

$source-sans-semi-bold:(
 font-family: $source-sans-font-family,
 font-weight: 600
);

$source-sans-regular:(
 font-family: $source-sans-font-family,
 font-weight: 400,
);

@mixin set-font($name){
 font-family: map-get($name, font-family);
 font-weight: map-get($name, font-weight);
}