/* Color defintion */
$primary: #ffca00;
$primary-gradient: linear-gradient(to bottom right, #7956EC, #2FB9F8);

$base1: #282B31;
$base2: #676B75;
$base3: #999EA8;
$base4: #BABDC3;
$base5: #D3D5DA;
$base6: #E7E8EA;
$base7: #f8F9FA;

$highlight: #2F80ED;
$success: #A0D61D;
$warning: #FFC250;
$error: #FF4876;

$white: #FFF;
$black: #000;

$base-font-color: #474747;

