@import "../../../styles/utilities.scss";

.root {
	padding: 0 4rem;

	& > .image {
		position: relative;
	}

	& > .info {
		width: 100%;
		padding: 0 14rem;

		& > .logo {
			position: relative;
			text-align: center;

			& > * {
				text-align: initial;
			}
		}

		& > .general {
			margin-top: 8rem;
			position: relative;
		}

		& > .vehicle_gear {
			margin-top: 5rem;

			& > div > .gear {
				width: 37rem;
				margin-top: 2.6rem;
				height: 24.2rem;
				overflow-y: scroll;
			}
		}
	}

	& .preview-1 {
		margin-top: 7rem;
		width: 53rem;
		height: 58rem;
	}

	& .preview-2 {
		margin-top: 1rem;
		width: 10rem;
		height: 10rem;
	}

	& .preview-3 {
		width: 29rem;
		height: 17rem;
	}

	& .preview-4 {
		margin-top: 3.6rem;
		width: 14rem;
		height: 8.5rem;
	}

	& .edit_icon {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}
}
