@import "../../../styles/mediaQuery.scss";

.root {
	background-repeat: no-repeat;
	width: 100%;
	display: inline-block;
	padding-bottom: 13.4rem;

	&.shape {
		min-height: calc(100vh - 8.5rem);
		background-size: 177rem;
	}

	&.home-gold-bg {
		background-size: cover;
		height: 59rem;
		width: 100rem;
		position: relative;
		top: -8rem;

		@include respond(tab-port) {
			background-image: none !important;
			width: initial;
			top: 0;
			width: 100%;
		}
	}

	&.icon {
		width: 2.4rem;
		height: 2.4rem;
		background-size: contain;
	}
}
