.root {
	display: flex;

	&.align-center {
		align-items: center;

		&-horizontal {
		}
	}

	&.align-between {
		justify-content: space-between;
	}

	&.align-around {
		justify-content: space-around;
	}

	&.vertical {
		flex-direction: column;

		&.align-center {
			align-items: center;
		}
	}

	&.full_width {
		width: 100;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}
